<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="us.skory.MineSpider" android:versionName="0.2" android:versionCode="2">


    <application android:icon="@drawable/icon" android:label="MineSpider">
        <activity android:name="MineSpider"
                  android:label="MineSpider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MineSpiderPreferenceActivity"
        		android:label="MineSpider Preferences"
		/>

    </application>
    <uses-sdk android:minSdkVersion="4"/>
</manifest>